:root {
	--before-background: linear-gradient(to right,#d91111,#6c1515);
	--before-opacity: .2;
	--before-z: -2;
	--after-background: linear-gradient(to right,#aeaeae,transparent);
	--after-opacity: 1;
	--after-z: -3;
}
@media (prefers-color-scheme: dark) {
	:root {
		--after-background: linear-gradient(to right,#202020,transparent);
	}
}
#related-article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#related-article h4 {
	position: relative;
	margin: 0 0 1rem;
	width: 100%;
	font-size: 1.33rem;
	text-align: center;
}

#related-article h4:before {
	content: "";
	position: absolute;
	top: 50%;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-2rem,-50%) rotate(45deg);
	background-image: var(--before-background);
	opacity: var(--before-opacity);
	z-index: var(--before-z);
}

#related-article h4:after {
	content: "";
	position: absolute;
	top: 50%;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	transform: translate(-4rem,-50%) rotate(45deg);
	background-image: var(--after-background);
	opacity: var(--after-opacity);
	z-index: var(--after-z);
}

#related-article .post {
	position: relative;
	flex-basis: 150px;
	padding: 1em;
}

#related-article .post .thumbnail {
	display: block;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	overflow: hidden;
}

#related-article .post .thumbnail img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	transition: all .2s ease;
}

#related-article .post:hover .thumbnail img {
	transform: scale(1.2);
}

#related-article .post p {
	margin: .5rem 0;
	font-size: .9rem;
	font-weight: 700;
}

#related-article .post a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
}

#related-article .post a:after {
	display: none;
}